page-car-creation {
  ion-content#main {

    background-color: black;

    .main {
      display: flex;
      flex-direction: column;
      height: 75%;
      margin-top: 20px;
    }
    ion-list-header {
      font-size: 14px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 20px;
      width: 91%;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: block;
        width: 90%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 24px;
        margin: 10px;
      }
    }
  }
}
