<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <form #form="ngForm" (ngSubmit)="onAddCar(form.value)">
      <ion-item color="dark">
        <ion-label>Car name:</ion-label>
        <ion-input type="text" required name="name" ngModel></ion-input>
      </ion-item>
      <ion-list radio-group name="seats" ngModel>
        <ion-list-header color="secondary">
          Seats in car:
        </ion-list-header>

        <ion-item color="dark">
          <ion-label>2</ion-label>
          <ion-radio color="secondary" checked="true" value="2"></ion-radio>
        </ion-item>

        <ion-item color="dark">
          <ion-label>3</ion-label>
          <ion-radio color="secondary" value="3"></ion-radio>
        </ion-item>

        <ion-item color="dark">
          <ion-label>4</ion-label>
          <ion-radio color="secondary" value="4"></ion-radio>
        </ion-item>
        <ion-item color="dark">
          <ion-label>5</ion-label>
          <ion-radio color="secondary" value="5"></ion-radio>
        </ion-item>
        <ion-item color="dark">
          <ion-label>6</ion-label>
          <ion-radio color="secondary" value="6"></ion-radio>
        </ion-item>
        <ion-item color="dark">
          <ion-label>7</ion-label>
          <ion-radio color="secondary" value="7"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item color="dark" required>
        <ion-label>Fuel consumption (L/km):</ion-label>
        <ion-input type="number" name="consumption" ngModel></ion-input>
      </ion-item>
      <div class="buttons">
        <button type="submit" [disabled]="!form.valid">Add this car!</button>
        <button ion-button color="light" (click)="returnBack($event)">Go back</button>
      </div>
    </form>
  </div>
</ion-content>
