page-trip-info {

  ion-content#main {

    background-color: black;

    .trip-name {
      color: white;
      font-family: Tahoma;
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      margin-bottom: 10px;
    }

    .buttons {

      position: absolute;
      bottom: 50px;
      width: 91%;
      text-align: center;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: inline-block;
        width: 40%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 24px;

      }

      button:first-child {
        margin-right: 17%;
      }
    }

    ion-input {

      input {
        text-align: right;
      }
    }

    ion-textarea {

      textarea {

        text-align: right;

      }
    }
  }

}
