<ion-header>

</ion-header>


<ion-content id="main" padding>

  <div class="trip-name">
    <span>#{{ status==='tap' ? tripInfo?.name : 'Create Trip'}}</span>
  </div>

  <form (ngSubmit)="onAddTrip($event)" [formGroup]="trip">

    <ion-item>
      <ion-label>Trip Name:</ion-label>
      <ion-input type="text" name="name" formControlName="name" required
                 [disabled]="status === 'tap' ? true : false"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD HH:mm" name="date" formControlName="date" [min]="2017" max="2020-10-31"
                    required
                    [disabled]="status === 'tap' ? true : false"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Destination Point:</ion-label>
      <ion-input type="text" name="destination" formControlName="destination" required
                 [disabled]="true"></ion-input>
    </ion-item>

    <ion-item *ngIf="status === 'tap'">
      <ion-label>Creator:</ion-label>
      <ion-input type="text" name="creator" [disabled]="true" formControlName="creator"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description:</ion-label>
      <ion-textarea formControlName="description" placeholder="Add some description..."
                    [disabled]="status === 'tap' ? true : false"></ion-textarea>
    </ion-item>
    <div class="buttons">
      <button ion-button (click)="goBack()" type="button">< Back</button>
      <button ion-button type="submit" [disabled]="!trip?.valid">Next ></button>
    </div>
  </form>
</ion-content>
