<ion-header>

</ion-header>


<ion-content id="main" padding>

  <div class="trip-name">
    <span>#{{tripName}}</span>
  </div>

  <div class="driver-trip-info">
    <ion-grid>
      <ion-row row-2>
        <ion-col col-8 class="car-gooses">
          <div>
            {{carName}}
          </div>
          <div>
            {{numbOfSeats}}
          </div>
          <div>
            Guests: {{guests}}
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="price">Approximate price</div>
          <div><img src="assets/img/42.png"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="image">
    <img src="assets/img/carWithSeats.png">

    <div class="seat seat1">
      <img src="assets/img/goose4.png">
    </div>

    <div class="seats">
      <div *ngFor="let goose of seats; let i = index" class="seat seat{{i+2}}">
        <img src="{{goose.image}}">
      </div>
    </div>
  </div>


  <div class="trip-name">
    <span>Be at your location</span>
  </div>
  <div class="trip-name">
    <span>{{date | date : 'EEEE, MMMM d, HH:mm'}}</span>
  </div>
</ion-content>
