page-goose-view-driver {

  ion-content#main {

    background-color: black;

    .driver-trip-info {
      border-top: 3px solid #888888;
      border-bottom: 3px solid #888888;
      color: white;

      .car-gooses {
        font-size: 17px;

        div:nth-child(n+2) {
          margin-top: 8px;
        }
      }

      .price {
        text-align: right;
      }
    }

    .trip-name {
      color: white;
      font-family: Tahoma;
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      margin-bottom: 16px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 50px;
      width: 91%;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: block;
        width: 90%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 24px;

      }
    }


    .image {
      position: relative;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .seats {
        position: absolute;
        z-index: 5;
        min-height: 250px;
        min-width: 150px;
      }

      .seat {
        position: absolute;
        z-index: 1;
        height: 90px;
        width: 80px;
        background-color: transparent;

        img {
          height: 100%;
        }
      }

      .seat1{
        top: 111px;
        left: 91px;
      }

      .seat2{
        top: 46px;
        right: -5px;
      }

      .seat3{
        top: 147px;
        left: -7px;
      }

      .seat4{
        top: 147px;
        right: -2px;
      }

      img {
        height: 90%;
      }
    }

  }
}
