<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <div class="image">
      <img src="../../assets/img/faceGoose.png">
    </div>
  </div>

  <div class="buttons">
    <button ion-button color="light" (click)="signIn()">Get started</button>
  </div>
</ion-content>

