page-authorization {
  ion-content#main {

    background-color: black;

    .main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 70%;
      margin-top: 20px;

      .image {
        width: 60%;
        height: auto;
      }

    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 50px;
      width: 91%;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: block;
        width: 90%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 16px;

      }
    }

  }
}
