<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
      <img src="../../assets/img/qr.png">
      <ion-item color="dark">
        <ion-label>New trip ID: {{tripInfo._id}}</ion-label>
      </ion-item>
      <div class="buttons">
        <button ion-button type="button" color="light" (click)="onTripStart()">Start trip!</button>
      </div>
  </div>
</ion-content>
