<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="image">
    <img src="assets/img/LOGO.png">
  </div>

  <div class="buttons">
    <button ion-button color="light" center (click)="onCreateTrip()">Create Trip</button>
    <button ion-button color="light" center (click)="onStartTrip()">Start Trip</button>
  </div>
</ion-content>
