page-car-selection {
  ion-content#main {

    background-color: black;

    .main {
      display: flex;
      flex-direction: column;
      height: 75%;
      margin-top: 20px;

      .inscription {
        font-family: Tahoma;
        margin: 0 auto;
        color: #fff;
        font-weight: bold;
        font-size: 19px;
      }

      .image {
        width: auto;
        height: 75px;
      }

    }

    .list {
      margin-top: 20px;
      overflow: scroll;

      button {
        position: relative;
        background: none;

        label {
          position: absolute;
          right: 10%;
          top: 50%;
          text-align: right;
          transform: translateY(-50%);
          font-style: italic;

          p {
            font-size: 16px;
            line-height: 22px;
          }
        }

      }

    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 50px;
      width: 91%;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: block;
        width: 90%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 24px;

      }
    }

    #addCar {
      background: none;
      height: 80px;
      color: #818181;
      font-size: 24px;
      background-image: url('../../assets/img/plus.png');
      background-repeat: no-repeat;
      background-size: 15%;
      background-position: 15% 50%;
      padding-left: 15%;
      margin: 0 30px;
    }

  }
}
