<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <div class="inscription">
      <span>Select your car:</span>
    </div>
    <ion-list class="list">
      <button ion-item *ngFor="let item of cars" (click)="selectCar(item)">
        <img class="image" src="../../assets/img/car_dark.png" *ngIf="item.seats <= 4">
        <img class="image" src="../../assets/img/bigCar.png" *ngIf="item.seats > 4">
        <label>
          <p>{{item.title}}</p>
          <p>{{item.seats}} seats</p>
          <p>{{item.consumption}} L/km</p>
        </label>
      </button>
    </ion-list>
    <button id="addCar" (click)="addCar()">Add new car</button>
  </div>

  <div class="buttons">
    <button ion-button color="light" (click)="returnBack()">I can't use car</button>
  </div>
</ion-content>
