<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <ion-item color="dark">
      <ion-label>Wait for a responce on facebook</ion-label>
    </ion-item>
    <div class="buttons">
      <button ion-button type="button" color="light" (click)="onFinish()">Finish!</button>
    </div>
  </div>
</ion-content>
