<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <div class="inscription">
      <span>I`m lucky I have a car:</span>
    </div>

      <div class="image" (click)="clickOnImg('car')" *ngIf="this.type !== 'car'">
        <img src="assets/img/car_dark.png">
      </div>

      <div class="image" (click)="clickOnImg('car')" *ngIf="this.type === 'car'">
        <img src="assets/img/car_white.png">
      </div>
    <div class="inscription">
      <span>Sadly I don`t have it:</span>
    </div>

      <div class="image" (click)="clickOnImg('goose')" *ngIf="this.type !== 'goose'">
        <img src="assets/img/goose_dark.png">
      </div>

      <div class="image" (click)="clickOnImg('goose')" *ngIf="this.type === 'goose'">
        <img src="assets/img/goose_white.png">
      </div>
  </div>

  <div class="buttons">
    <button ion-button color="light" (click)="onDriverOrGooseNext()">Next ></button>
  </div>
</ion-content>
