page-select-goose {

  ion-content#main {

    background-color: black;

    .trip-name {
      color: white;
      font-family: Tahoma;
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      margin-bottom: 16px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 50px;
      width: 91%;

      button {
        border: 10px solid #e5a100;
        border-radius: 15px;
        background-color: white;
        display: block;
        width: 90%;
        height: 70px;
        color: #4f2100;
        font-family: Tahoma;
        font-weight: bold;
        font-size: 24px;

      }
    }

    .gooses-list {
      background-color: #d0d0d0;
      height: 15%;
      width: 1000%;
      position: relative;
      left: -16px;

      .random {
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -11px;

        button {
          height: 80%;
          background-color: #d0d0d0;
          border-right: 2px solid #949494;

          img {
            height: 100%;
          }
        }
      }

      .gooses {
        display: inline-flex;
        margin-left: 10px;
        height: 100%;
        width: auto;
        min-width: 275px;
        white-space: nowrap;
        overflow: hidden;

        .inner-wrapper-for-gooses {
          min-width: 300px;
          height: 100%;
        }

        .btn-name {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          width: 62px;
          margin-right: 4px;

          .name {
            text-align: center;
          }

          button {
            height: 100%;
            background-color: #d0d0d0;
            padding: 0;
            width: 62px;

            img {
              height: 100%;
            }
          }
        }

        .scroll-content {
          height: 100%;
          padding: 0;

          .scroll-zoom-wrapper {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

        }

      }
    }

    .image {
      position: relative;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .seats {
        position: absolute;
        z-index: 5;
        min-height: 250px;
        min-width: 150px;
      }

      .seat {
        position: absolute;
        z-index: 1;
        height: 90px;
        width: 80px;
        background-color: transparent;

        img {
          height: 100%;
        }
      }

      .seat1{
        top: 104px;
        left: 91px;
      }

      .seat2{
        top: 46px;
        right: -5px;
      }

      .seat3{
        top: 142px;
        left: -5px;
      }

      .seat4{
        top: 142px;
        right: -2px;
      }

      img {
        height: 90%;
      }
    }

  }
}
