<ion-header>

</ion-header>


<ion-content id="main" padding>

  <div class="trip-name">
    <span>#{{name}}</span>
  </div>

  <div class="gooses-list">

    <div class="random" (click)="selectRandomGooses()">
      <button type="button"><img src="assets/img/random.png"></button>
    </div>

    <ion-scroll class="gooses" scrollX="true">
      <div [dragula]='"seats"' [dragulaModel]="gooses" class="inner-wrapper-for-gooses">
        <div class="btn-name" *ngFor="let goose of gooses">
          <button type="button">
            <img src="{{goose.image}}">
          </button>
          <div class="name">{{goose.name}}</div>
        </div>
      </div>
    </ion-scroll>

  </div>

  <div class="image">
    <img src="assets/img/carWithSeats.png">

    <div class="seat seat1">
      <img src="assets/img/goose4.png">
    </div>

    <div [dragula]='"seats"' [dragulaModel]="seats" class="seats">
      <div *ngFor="let goose of seats; let i = index" class="seat seat{{i+2}}">
        <img src="{{goose.image}}">
      </div>
    </div>
  </div>


  <div class="buttons">
    <button ion-button color="light" (click)="getRoute()">Get route</button>
  </div>
</ion-content>
