<ion-header>
    <ion-title left>{{title}}</ion-title>
</ion-header>


<ion-content padding>
  <div>
    <input block center placeholder="{{placeholder}}"
           autocorrect="off"
           autocapitalize="off" spellcheck="off" type="text" class="form-control"
           #pickupInput [formControl]="destinationInput">
  </div>
  <!--<div *ngIf="state==='CREATED_TRIP'">-->
  <!--<input block center placeholder="Enter start point"-->
         <!--autocorrect="off" autocapitalize="off" spellcheck="off" type="text"-->
         <!--class="form-control" #pickupOutput [formControl]="destinationOutput" >-->
  <!--</div>-->
  <sebm-google-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="13"
                   [zoomControl]="false"
                   [disableDefaultUI]="false"
                   (mapClick)="mapClicked($event)">
    <sebm-google-map-directions></sebm-google-map-directions>
    <sebm-google-map-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">


    </sebm-google-map-marker>
  </sebm-google-map>
  <button ion-button color="light" center block [disabled]="!markers.length" (click)="onNextClick()">{{submitLabel}}</button>
</ion-content>
