page-map-view {
  sebm-google-map{
    height: 300px;
  }

  button {
    border: 10px solid #e5a100;
    border-radius: 15px;
    background-color: white;
    display: block;
    height: 70px;
    color: #4f2100;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 24px;
  }

  input {
    width: 100%;
    margin: 5px 0;
    left:5px;
    border: 3px solid #e5a100;
    border-radius: 2px;
    font-family: Tahoma;
    background-color: white;
  }
}
