<ion-header>

</ion-header>


<ion-content id="main" padding>
  <div class="main">
    <form #form="ngForm" (ngSubmit)="onJoinTrip(form.value)">
      <ion-item color="dark">
        <ion-label>Trip ID:</ion-label>
        <ion-input type="text" required name="tripId" ngModel></ion-input>
      </ion-item>

      <div class="buttons">
        <button type="submit" [disabled]="!form.valid">Join trip!</button>
        <button ion-button type="button" color="light" (click)="returnBack($event)">Go back</button>
      </div>
    </form>
  </div>
</ion-content>
