page-join-trip {

    ion-content#main {

      background-color: black;

      ion-item {
        position: absolute;
        top: 30%;
        width: 90%;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 50px;
        width: 91%;

        button {
          border: 10px solid #e5a100;
          border-radius: 15px;
          background-color: white;
          display: block;
          width: 90%;
          height: 70px;
          color: #4f2100;
          font-family: Tahoma;
          font-weight: bold;
          font-size: 24px;

        }
      }

    }

}
